
html,body{background-color: #0581D1;}
.app{
    width: 600px;
    margin: 0 auto;
}
.app_field{
    display: flex;
    height: 50px;
    background-color: #EFF3F6;
    box-sizing: content-box;
}
.app_field_inp{
    width: 100%;
    padding-left:10px; 
    border: 0px;
    background-color: transparent;
    
}
.app_chatArea{
    background-color: #D4D9DF;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: calc(100vh - 120px);
}
.app_chat{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.app_chat_title{
    height: 50px;
    background-color: #A5C6DD;
}